.DS_Store
sg.sql
*.pyc
.svn
static/generated_img
static/questionimages
static/server_img
static/thumbnails
imgaes/generated_img
images/questionimages
images/server_img
images/thumbnails
images/questionvideos
*.py.*
*.log
*~
*.pyo
.idea/
static/questionvideos
*.swp
media/questionimages
media/questionvideos
media/thumbnails
!video_icon.png
!audio_icon.png
algo/voice
*.wav
core/settings.py